<!DOCTYPE html>
{% extends 'base.html' %} {% block body %}

<body>
  <!-- Create a div for every Most Loved Melon using a Jinja for-loop -->
  <!-- <h1>Welcome {{ session["name"] }}</h1> -->
  <h1>Hello {{record.user.username}}</h1>

  {% for record in records %}
  <li>
    {{ record.record_id}} - {{record.date_created}} - {{record.total_co2}} kg
  </li>
  {% endfor %}
  <!-- {% for food in foods %}
        <div class="food-list">
          <h3>{{food.food_id}}</h3>
          <h2>{{food.gwp}}</h2>
        </div>
      {% endfor %} -->
</body>

{% endblock %}
